DATABASE_URL="postgresql://postgres:Chigz657689@localhost:5432/Private_School_Management_db"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
UPLOADTHING_SECRET="..."
UPLOADTHING_APP_ID="..."
DAILY_FINE_RATE="0.50"
LOAN_PERIOD_DAYS="14"
